@import "@assets/styles/mixins";

.input {
	position: relative;
	@include flex(row-reverse, normal, center, 15px);
	width: 100%;
	border-radius: 2px;
	border: 1px solid #41644a;

	&__field {
		width: 100%;
		padding: 15px;
		font-size: 16px;
		line-height: 136%; /* 19.04px */

		&::placeholder {
			color: #b8d5b1;
		}
	}
	&__field-icon {
		@include flex(row, center, center, 0);
		background-color: rgba(184, 213, 177, 0.5);
		height: 100%;
		padding: 15px;
	}
}
