@import "@assets/styles/mixins";

.navbar {
	//position: relative;
	@include flex(row, center, center, 10px);
	width: 100%;
	padding: 10px 0;

	border-bottom: 1px var(--main-color) outset;
	border-top: 1px var(--main-color) outset;

	@media (max-width: 700px) {
		justify-content: flex-start;
	}

	& .burger {
		margin-left: 20px;
	}

	& .burger.active + .navbar__list {
		left: 0;
		top: 0;
	}

	&__list {
		@include flex(row, normal, center, clamp(0.938rem, 0.277rem + 2.82vw, 2.813rem)); // 15 <- 45
		transition: all var(--animation-normal) ease;

		@media (max-width: 700px) {
			z-index: 10;
			//position: fixed;
			position: absolute;
			width: 60vw;
			height: 100vh;
			left: -100%;
			top: 0;
			background-color: var(--main-color);
			@include flex(column, center, center, 20px);
			color: #ffffff;
		}
	}
	// .navbar__link
	&__link {
		text-transform: uppercase;
	}

	// .navbar__search
	&__search {
		@include flex(row, normal, center, 10px);
		position: absolute;
		right: 0;
		margin-right: 20px;
	}
	&__search-button {
		@include flex(row, center, center, 0);
	}
	// .navbar__icon
	&__icon {
		@include flex(row, center, center, 0);
	}
}
